<!-- <p>user works!</p> -->

<h2>Registro de Usuario</h2>

<form>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input id="username" type="text" name="username" class="form-control" minlength="8" maxlength="20" required [(ngModel)]="userProperties.username">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Contrase&ntilde;a</label>
    <input id="password" type="password" name="password" class="form-control" minlength="8" maxlength="30" required [(ngModel)]="userProperties.password">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input id="email" type="email" name="email" class="form-control" maxlength="100" required [(ngModel)]="userProperties.email">
  </div>

</form>


